{{template "base/base_falcon.html" .}}
{{define "head"}}
        <title>告警策略配置平台</title>
        <meta charset="utf-8">
   
   

{{end}}

{{define "content"}}


	<div class="content-wrapper">
     

    <div class="panel panel-default">
        <div class="panel-heading">该模板中的策略列表</div>
        <div class="panel-body">
            <div class="pull-right">
                <a class="btn btn-default" href="javascript:goto_strategy_add_div();">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
            <div style="line-height: 35px;">
                max: 最大报警次数 P：报警级别（&lt;3: 既发短信也发邮件 &gt;=3: 只发邮件） run：生效时间，不指定就是全天生效
            </div>
        </div>
        <table class="table table-hover table-bordered table-striped" style="margin-bottom: 0px;">
            <thead>
            <tr>
                <th><u>metric</u>/<span class="blue">tags</span><span class="gray">[note]</span></th>
                <th>condition</th>
                <th>max</th>
                <th>P</th>
                <th>run</th>
                <th>operation</th>
            </tr>
            </thead>
          </table>
    </div>

    <input type="hidden" id="current_sid">

    <a name="add"></a>

    <div class="panel panel-success" id="add_div" style="display: none;">
        <div class="panel-heading">策略添加/修改</div>
        <div class="panel-body">
            <div class="form-inline mt10" role="form">
                <div class="form-group">
                    metric:
                </div>
                <div class="form-group">
                    <input type="text" style="width: 300px;" class="form-control" id="metric" data-toggle="tooltip" data-placement="top" title="监控项名，如：df.bytes.free.percent">
                </div>
                <div class="form-group">
                    tags: <input type="text" class="form-control" id="tags" data-toggle="tooltip" data-placement="top" title="维度tag，如：fstype=ext4,mount=/mnt">
                    Max: <input class="form-control" id="max_step" style="width: 100px;" value="3" data-toggle="tooltip" data-placement="top" title="持续故障情况下，连续报警次数">
                    P: <input class="form-control" id="priority" style="width: 60px;" value="0" data-toggle="tooltip" data-placement="top" title="故障等级，填写1~5的数字">
                    note: <input class="form-control" id="note" data-toggle="tooltip" data-placement="top" title="报警描述，如：mnt分区block使用率超过80%">
                </div>
            </div>

            <div class="form-inline mt10" role="form">
                <div class="form-group">
                    if <input type="text" value="all(#3)" class="form-control" id="func" style="width: 100px;" data-toggle="tooltip" data-placement="top" title="判断方法，如：all(#3)">
                    <select class="form-control" id="op">
                        <option value="==">==</option>
                        <option value="!=">!=</option>
                        <option value="<">&lt;</option>
                        <option value="<=">&lt;=</option>
                        <option value=">">&gt;</option>
                        <option value=">=">&gt;=</option>
                    </select>
                    <input type="text" value="0" class="form-control" id="right_value" style="width: 100px;"  data-toggle="tooltip" data-placement="top" title="报警阈值">
                    : alarm(); callback();
                </div>
            </div>

            <div class="form-inline mt10" role="form">
                <div class="form-group">
                    run begin: <input type="text" class="form-control" id="run_begin" data-toggle="tooltip" data-placement="top" title="生效开始时间，如：07:30">
                    run end: <input type="text" class="form-control" id="run_end" data-toggle="tooltip" data-placement="top" title="生效结束时间，如：23:30">
                    (生效时间，不指定就是全天生效)
                </div>
            </div>

            <button class="btn btn-default" onclick="save_strategy();">
                <span class="glyphicon glyphicon-floppy-disk"></span>
                Save
            </button>

        </div>
    </div>

                   </div>
<script>
function goto_strategy_add_div() {
    $("#add_div").show('fast');
    $("#current_sid").val('');
    location.href = "#add";
}


function save_strategy() {
    var sid = $("#current_sid").val();
    $.post('/strategy/update', {
        'sid': sid,
        'metric': $.trim($("#metric").val()),
        'tags': $.trim($("#tags").val()),
        'max_step': $.trim($("#max_step").val()),
        'priority': $.trim($("#priority").val()),
        'note': $.trim($("#note").val()),
        'func': $.trim($("#func").val()),
        'op': $.trim($("#op").val()),
        'right_value': $.trim($("#right_value").val()),
        'run_begin': $.trim($("#run_begin").val()),
        'run_end': $.trim($("#run_end").val()),
        'tpl_id': $.trim($("#tpl_id").val())
    }, function (json) {
        handle_quietly(json, function () {
            location.reload();
        });
    })
}

</script>

{{end}}
